normalize-css()

// DEBUGGING
 //html *
  //b()

body
  font-family "Arial" !important

#wrapper
  margin-top 10px

// when viewing through iphone stuff
// get vertical center (well, kinda)
@media (max-width: 320px)
  #wrapper
    margin-top 40%

@media (min-width: 790px)
  #contactsuggestion, #contactemail
    width 200%
    
@media (min-width: 790px)
  #loginsuggestion, #loginemail
    width 100%

#errorMessage
  z-index -10
  color #E81518
  margin-top 10px
  font-weight 200
  margin-left 3%
  
.going-right
  margin-left 80%

.lil-extra
  margin-left 20px

highlight
  color #FF3C77	
  
highlight a
  color #FF3C77
  
.logo_and_navbar
  margin-top 85px

.nav-logo
  margin-top: -15px !important

.footer
   padding-top 100px

.footer p
   float right     